/* desafio 1 */

/* ejercicio 1 - desafío 1*/

body {
    margin: 0;
    padding: 0;
}
.container {
    margin: 5px;
}

.box {
    border: 2px solid #808080;
    height: 100px;
    width: 25%;
    float:left;
    box-sizing:border-box;/*evita desbordamiento*/
    overflow: auto;
}

/* ejercicio 2 - desafío 1 */

.box2 {
    /*text-align: left;*/
    padding: 5px;
    left: 40px;
    height: 150px;
    width: 100%;
    overflow: auto;
}

.box2b {
    padding: 5px;
    /*margin: 20px;*/
    height: 100px;
    width: 25%;
    float:left;
    box-sizing:border-box;
}

/* ejercicio 3 - desafío 1 box2 - box2b*/

.box3 {
    left: 40px;
    height: 150px;
    width: 90%;
    overflow: auto;
}

.box3b {
    margin: 40px;
    height: 100px;
    width: 18%;
    float:left;
}

.navbar {
    background-color: green;
}

/* desafio 2 */

.square {
    height : 200px ;
    width : 200px ;
}

.square__red {
    background-color: rgba(255, 0, 0, .5);
}

.square__green {
    background-color: rgba(0, 255, 0, .5);
    left: 25px ;
    position : absolute;
    position:absolute; 
    z-index:2;
    left: 25px; 
    top : 25px;
}

.square__blue {    
    background-color: rgba(0, 0, 255, .5);
    left: 50px ;
    position:absolute; 
    z-index:3;
    left: 50px; 
    top : 50px;
    }
    button {
    margin-top: 100px;
}

/* desafio 3 */

.bandera {
height: 140px;
width: 230px;
}
    .bandera__España {
        background-color: red;
        top: 100px;
        left: 100px;
        float: left;/*para que las banderas floten a los lados*/
        position: absolute;/*mantiene forma*/
    
    }

    .barra__gruesa {
        background-color: yellow;
        height: 60px;
        width: 228px;
        top: 140px;
        left: 100px;
        border: 1px solid #808080;
        float: left;
        position: absolute;
        z-index:3;
    }

    .bandera__Dinamarca {
        background-color: red;
        border: 1px solid #808080;
        top: 100px;
        left:400px;
        float: left;
        position: absolute;
    }

    .barra__fina_v {
        background-color: white;
        height: 139px;
        width: 20px;
        top: 101px;
        left: 460px;
        position: absolute;
        z-index:3;
    }

    .barra__fina_h {
        background-color: white;
        height: 20px;
        width: 229px;
        top: 160px;
        left: 401px;
        position: absolute;
        z-index:3;
    }

    .bandera__Emiratos {
        background-color: red;
        border: 1px solid #808080;
        top: 300px;
        left:100px;
        float: left;
        position: absolute;
    }

    .barra__normal_verde {
        background-color: green;
        height: 46px;
        width: 160px;
        top: 300px;
        left: 170px;
        position: absolute;
    }

    .barra__normal_blanca {
        background-color: white;
        height: 46px;
        width: 160px;
        top: 394px;
        left: 170px;
        position: absolute;
    }

    .barra__normal_negra {
        background-color: black;
        height: 46px;
        width: 160px;
        top: 394px;
        left: 170px;
        position: absolute;
    }

    .barra__normal_blanca {
        background-color: white;
        height: 46px;
        width: 160px;
        top: 347px;
        left: 170px;
        position: absolute;
    }

    .bandera__Japon {
        background-color: white;
        border: 1px solid #808080;
        top: 300px;
        left:400px;
        float: left;
        position: absolute;
    }

    .medalla {
        background-color: red;
        height: 80px;
        width: 80px;
        top: 330px;
        left:470px;
        border-radius: 100%;
        float: left;
        position: absolute;
        z-index:3;
    }

    .españa {
        top: 230px;
        left:100px;
        float: left;
        position: absolute;
    }

    .emiratos {
        top: 430px;
        left:100px;
        float: left;
        position: absolute;
    }

    .japon {
        top: 430px;
        left:400px;
        float: left;
        position: absolute;
    }

    .dinamarca {
        top: 230px;
        left:400px;
        float: left;
        position: absolute;
    }

/* desafio 4 */

body {
    margin: 0;
    padding: 0;
}

    .main {
        background-color: #B0CCAB;
        padding: 50px;
    }
    .main__paragraph {
        left: 40px;
        position: relative;
    }

/* desafio 5 */

body {
    margin: 0;
    padding: 0;
}

    #img1_ejer5 {
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: -1
    }

    #img2_ejer5 {
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: -1
    }

/* desafio 6 */

body {
    margin: 0;
    padding: 0;
}

    #ejer6 {
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: -1
    }

    #ejer6_ribbon {
        position: relative;
        left: 70px;
        top: 104px;
        z-index: -1
    }

/* desafio 7 */

body {
    margin: 0;
    padding: 0;
}

    #img1 {/*posicionamiento relativo a la derecha(viewport)*/
        float: right;
        position: relative;
        left: 0px;
        top: 0px;
        z-index: -1
    }

/* desafio 8 */

body {
    margin: 0;
    padding: 0;
}
    ul.menu {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    ul.menu li {
        background: olive;
        box-sizing: border-box;
        float: left;
        width: 25%;
    }
    ul.menu li a {
        color: #FFF;
        display: block;
        padding: 10px;
        text-decoration: none;
        
    }
    ul.menu li a:hover {
        background: #000;
        
    }
    .p_desafio-8 {
        clear: left;/*el parrafo es movido hacia abajo para limpiar elementos flotantes a la izquierda*/
    }

/* desafio 9 */

#pagina{
        margin: 0 20px;
        text-align: left;
}
    .titulo{
        background-color: #000;
        color: #fff;
        font-size:larger;
        font-weight: bold;
        padding: 8px;
        padding-top: 16px;
    }

    .tabla{
        clear: both;
    }

    .menu1 {
        font-size: large;
        background-color: #e8e8e8; 
        
        padding: 15px;
        margin: 0;
        height: 200px;
        width: 25%;
        float:left;
    }

    .subtitulo2 {
        font-size: large;
        margin: 4px;
        left: 12px;
        width: 70%;
        float:left;
    }

    footer {
        background-color: #bababa;
        color: white;
        text-align: center;
        font-weight: bold;
        width: 100%;        
        float:left;
    }


@media screen and (max-width: 800px){
    #menu1 {
        width: 24%;
        padding-bottom: 200px;
    }
    #subtitulo2 {
        width: 76%;
        padding-bottom: 200px;
    }
    footer {
        width: 100%;
        padding-bottom: 200px;
    }
}

@media screen and (max-width: 480px){
          
            
    #pagina {
        margin: 0;
    }
        
     #menu1, #subtitulo2, footer, #titulo {
        padding: 20px;
        width: 100%;
    }
}  
